body {
  background-color: white;
  color: lightgrey;
}

header {
  background-color: darkgrey;
  width: 100%;
  height: 100px;
}

nav {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  font-size: 24px;
  border-style: hidden;
  padding: 15px;
}

main {
  display: flex;
  flex-direction: row;
  margin: auto;
  width: 960px;
  justify-content: space-evenly;
  flex-wrap: wrap;
  gap: 30px;
  border-style: hidden;
  padding: 30px;
}

img {
  object-fit: none;
}
div {
  max-height: 400px;
  width: 50%;
  display: flex;
  flex-direction: column;
  align-content: center;
  flex-wrap: wrap;
  gap: 30px;
}
article {
  max-height: 320px;
  overflow-y: auto;
  color: black;
}

button {
  width: 160px;
  height: 50px;

  text-justify: auto;
  text-align: center;
  background-color: black;
  color: white;
  border-radius: 16 px;
  transition-duration: 350ms;
}

button:hover {
  background-color: orange;
  color: black;
}

footer {
  background-color: darkgrey;
  width: 100%;
  height: 90px;
}
